<!--
  Generated template for the PartListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>{{partData.name}}-{{partData.about}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addPartRenew()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let data of partData.list;let i = index" #item>
      <ion-item>
        <h2>
            <ion-icon name="close-circle" *ngIf="data.reminded"></ion-icon>

          {{data.name}}
        </h2>
        <!-- <h4>{{fuel.kilometre}}-{{fuel.litr}}</h4> -->
    <h4>{{data.kilometre}}Km -- {{data.reminder_period}} -- {{data.reminder_type }}</h4>
  
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              {{data.location}}
            </ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{data.date}}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="disabled(i)">disabled</button>
      </ion-item-options>
  
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
